<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>{{ set.title }}</h1>


    <img src="/media/{{ flashcard.photo }}" alt="you have no picture">
    <h3> {{ flashcard.word }} : {{ flashcard.definition }} </h3>


<a href="{% url "edit_card" set.id flashcard.id%}">edit card</a>


<form action="{% url "delete_card" set.id flashcard.id%}" method="post">
    {% csrf_token %}
    <button type="submit">delete flashcard</button>
</form>


</body>
<a href="{% url "set" set.id %}">back</a>
</html>