{% extends "flashcards/base.html" %}
{% block body %}
<h1>{{ program.title }}</h1>

{% if flashcard.photo %}
    <img src=" {{ flashcard.photo.url }} " alt="ERROR">
{% else %}
    <p>you have no picture </p>
{% endif %}
<h3> {{ flashcard.word }} : {{ flashcard.definition }} </h3>


<a href="{% url "edit_card" program.id flashcard.id%}">edit card</a>


<form action="{% url "delete_card" program.id flashcard.id%}" method="post">
    {% csrf_token %}
    <button type="submit">delete flashcard</button>
</form>


<a href="{% url "program" program.id %}">back</a>

{% endblock %}
