{% extends "flashcards/base.html" %}
{% block body %}
{% if programs %}
    <h3>programs are : </h3>
    <table class="styled-table">

        <tr>
        <th> title </th>

        <th> created at</th>
        <th> modified at</th>


        </tr>

    {% for program in programs %}
        <tr>
        <th> <a href="{% url 'program' program.id  %}"> {{ program.title }} </a> </th>

        <th> {{ program.created }} </th>
        <th> {{ program.updated }} </th>

        </tr>


    {% endfor %}

    </table>
{% else %}
    <p>No programs are created.</p>
{% endif %}

<br>
<a href="{% url 'create_program' %}">create program</a>

{%  endblock %}
