
{% extends "flashcards/base.html" %}
{% block body %}

<h1>{{ program.title }}</h1>



{% if flashcards %}


    <h3>cards are : </h3>

    <table class="styled-table">
        <tr>
        <th> word </th>

        <th> definition</th>

        <th> created </th>
        <th> last modified</th>


        </tr>

    {% for card in flashcards %}
        <tr>
        <th> <a href="{% url 'flashcard' program.id card.id %}"> {{ card.word }} </a> </th>

        <th> {{ card.definition }} </th>
        <th> {{ card.created }} </th>
        <th> {{ card.updated }} </th>

        </tr>


    {% endfor %}

    </table>
{% else %}
    <p>No flashcards are created.</p>
{% endif %}


<br>
<a href="{% url 'create-flashcard' program.id %}">create flashcard</a>
<br>
<br>

<a href="{% url "delete_program" program.id %}">    <button type="submit">delete program</button>  </a>

<br>
<br>


<a href="{% url "index" %}">back</a>



{% endblock %}